h1{
color: crimson;



}
.forma{
    width: 18%;
    margin-left: 40%;
}

body{
background-color: cornsilk;

}



header{

    text-align: center;
}

h2{ 
    color: darkmagenta;
}
